*{
	margin: 0;
	padding: 0;
}

body{
	background: grey;
}

body::-webkit-scrollbar{
	width: .3rem;
}

body::-webkit-scrollbar-track{
	background:grey;
}

body::-webkit-scrollbar-thumb{
	background:black;
}


.container{
	display: flex;
}

.navbar{
	background: black;	
	width: 7%;
	height: 100vh;
	position: fixed;
	transition: all 0.6s ease;
}

.main{
	position: relative;
	width: 85%;
	margin-left: 10%;
	
}

ul{
	color: grey;
	display: flex;
	justify: center;
	align-items:center;
	flex-direction:column;
	
	padding: 0px 1rem;
}

.link-text{
	display: none;
}

li{
	list-style: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.navbar:hover{
	width: 13%;
	transition: all 0.6s ;
}

.fa-briefcase{
	margin-left:1.2rem;
}

li:hover{
	color:white;
	border-bottom: 1px solid white;
	text-color: white;
	transition: all 0.6s ease;
}

li:nth-child(3):hover{
	border:none;
}


li:hover a {
    color: white;
}

.navbar:hover .link-text{
	display:block;
}

li a{
	text-decoration: none;
	color:grey;
	display:flex;
	align-items: center;
	justify: center;
}

.text{
	opacity: 0;
	transform: translateY(40px);
	transition: .5s all ease-in-out;
}

.text-appear{
	opacity: 1;
	transform: translateY(0px);
	transition: .5s all ease-in-out;
}

.image{
	opacity:0;
}

i{
	text-color:grey;
	padding: 5px;
}

.navbar:hover .lastchild{
	transform: rotate(-180deg);
	transition: all 0.6s ;
}

h1{
	margin: 5%;
}

.maingrid-ab{
	display:flex;
	justify:center;
	align-items:center;
}

.maingrid-cd{
	display:flex;
	justify:center;
	align-items:center;

}

.maingrid-ef{
	display:flex;
	justify:center;
	align-items:center;

}

ul li ul{
	display: none;
	text-align: center;
}

ul li:hover ul{
	display: block;
	margin-left:1.2rem;
	-webkit-animation: slide-down .6s ease-out;
    	-moz-animation: slide-down .6s ease-out;
}

.nav-ul .lastchild{
	border: 0px;
	transition: all 0.6s ;
}

.nav-ul ul li:nth-child(3):hover{
	border-bottom:1px solid white;
}
@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-50%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-50%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}
.nav-ul ul li a{
	font-size: .9rem;
}

@media (max-width: 750px) {
.maingrid-ab,.maingrid-ef {
	display:flex;
	justify:center;
	align-items:center;
	flex-wrap:wrap;
}
 .maingrid-cd{
	display:flex;
	justify:center;
	align-items:center;
	 flex-wrap:wrap-reverse;
 }
 .body{
	 background:white;
 }
 
 li a{
	text-decoration: none;
	color:grey;
	display:flex;
	align-items: center;
	justify: center;
	flex-direction:column;
}
ul li:hover ul{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.fa-briefcase{
	margin-left:0rem;
} 
.navbar{
	background: black;	
	width: 10%;
	height: 100vh;
	position: fixed;
	transition: all 0.6s ease;
}
.navbar:hover{
	width:17%;
}
.main{
	position: absolute;
	width: 83%;
	margin-left: 12%;
}

 
}
